@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

@font-face {
    font-family: 'mononaki NF';
    src: url('../fonts/mononaki.ttf');
}

* {
    font-family: 'mononaki NF', 'monospace' !important;
}

li {

    list-style: none !important;
}

h1 {
    font-family: 'Roboto', sans-serif !important;
}